@charset "UTF-8";
/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
*/
/* 清除内外边距 */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* 设置默认字体 */
body,
button, input, select, textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  /* font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  用 ascii 字符表示，使得在任何编码下都无问题 */ }

h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */ }

h2 {
  font-size: 16px;
  border: none !important; }

h3 {
  font-size: 14px; }

h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

/* 将斜体扶正 */
code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace; }

/* 统一等宽字体 */
small {
  font-size: 12px; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
  list-style: none; }

/* 重置文本格式元素 */
a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

abbr[title], acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help; }

q:before, q:after {
  content: ''; }

/* 重置表单元素 */
legend {
  color: #000; }

/* for ie6 */
fieldset, img {
  border: none; }

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */ }

/* 重置表格元素
table {
  border-collapse: collapse;
  border-spacing: 0; }
 */
/* 重置 hr */
hr {
  border: none;
  height: 1px; }

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
/*html { overflow-y: scroll; }*/
code {
  background: #f7f7f7;
  margin: 0 3px;
  padding: 1px 5px;
  color: #666;
  /* border-radius: 3px;
  border: 1px solid #eee;  */
  }

/* 框架页面样式重置 */
/* 设置右侧内容区域margin为0 */
.theme-container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3rem 4.5rem;
  line-height: 3.2rem; }

.theme-default-content pre code, .theme-default-content pre[class*="language-"] code {
  border: none !important; }

.page .theme-default-content:not(.custom),
.page-edit,
.page-nav {
  max-width: none !important;
  margin: 0 !important; }

a.sidebar-link.active {
  background: rgba(62, 175, 124, 0.1);
  border-right: 5px solid rgba(62, 175, 124, 0.6);
  border-left: none; }

a.sidebar-link:hover {
  background: rgba(62, 175, 124, 0.05); }

/* th, td {
  border: none !important; } */
.code .code--demo {
  border: 1px solid #ebebeb;
  border-bottom: none;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(232, 237, 250, 0.6), 0 1px 2px 0 rgba(232, 237, 250, 0.5); }
  .code .code--demo .code-content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd; }

.code .code--button {
  font-weight: 400;
  line-height: 40px;
  color: #409eff;
  text-align: center;
  cursor: pointer;
  background: #fafbfc;
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5); }
  .code .code--button:hover {
    font-size: 17px; }

.code + .code {
  margin-top: 40px; }

.code:not(:first-child) {
  margin-top: 40px; }

.bg-000000 {
  background: #000; }

.flex-box {
  padding: 8px;
  background: #000000;
  width: 120px;
  height: 120px;
  border-radius: 10px; }
  .flex-box div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff; }

.space-box {
  position: relative;
  background: #000000;
  width: 120px;
  height: 120px;
  border-radius: 10px; }
  .space-box > div {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: #FFFFFF; }

.border-box {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  width: 180px;
  border-radius: 0; }

.el-table table {
  margin: 0; }

.w-100 {
  width: 100%; }

body[data-page|=class] .o-block {
  /*
	* border:
	* border-0 => border-none
	* border-radius开头 => radius
	*/
  /*
	* d-flex-column => flex-column
	*/
  /*
	* .position- => .
	*/ }
  body[data-page|=class] .o-block.border-outline {
    border: 1px solid #E8E8E8; }
  body[data-page|=class] .o-block.border-none {
    border: none; }
  body[data-page|=class] .o-block.border-left {
    border-left: 1px solid #E8E8E8; }
  body[data-page|=class] .o-block.border-top {
    border-top: 1px solid #E8E8E8; }
  body[data-page|=class] .o-block.border-right {
    border-right: 1px solid #E8E8E8; }
  body[data-page|=class] .o-block.border-bottom {
    border-bottom: 1px solid #E8E8E8; }
  body[data-page|=class] .o-block.border-left-0 {
    border: 1px solid #E8E8E8;
    border-left: none; }
  body[data-page|=class] .o-block.border-left-0 {
    border: 1px solid #E8E8E8;
    border-left: none; }
  body[data-page|=class] .o-block.border-left-0 {
    border: 1px solid #E8E8E8;
    border-left: none; }
  body[data-page|=class] .o-block.border-left-0 {
    border: 1px solid #E8E8E8;
    border-left: none; }
  body[data-page|=class] .o-block.radius-2 {
    border-radius: 4px; }
  body[data-page|=class] .o-block.radius-4 {
    border-radius: 4px; }
  body[data-page|=class] .o-block.radius-50 {
    border-radius: 50%; }
  body[data-page|=class] .o-block.radius-top-4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  body[data-page|=class] .o-block.radius-left-4 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  body[data-page|=class] .o-block.radius-right-4 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  body[data-page|=class] .o-block.radius-bottom-4 {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
  body[data-page|=class] .o-block.flex-wrap {
    display: flex;
    flex-wrap: wrap; }
  body[data-page|=class] .o-block.flex-column {
    display: flex;
    flex-direction: column; }
  body[data-page|=class] .o-block.flex-ju-end {
    display: flex;
    justify-content: flex-end; }
  body[data-page|=class] .o-block.flex-ju-center {
    display: flex;
    justify-content: center; }
  body[data-page|=class] .o-block.flex-ju-between {
    display: flex;
    justify-content: space-between; }
  body[data-page|=class] .o-block.flex-al-center {
    display: flex;
    align-items: center; }
  body[data-page|=class] .o-block.flex-ju-al-center {
    display: flex;
    align-items: center;
    justify-content: center; }
  body[data-page|=class] .o-block.flex-ju-al-between {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  body[data-page|=class] .o-block.flex-auto {
    display: flex;
    flex: auto; }
  body[data-page|=class] .o-block.clearfix {
    clear: both; }
  body[data-page|=class] .o-block.relative {
    position: relative; }
  body[data-page|=class] .o-block.fixed {
    position: fixed; }
  body[data-page|=class] .o-block.absolute {
    position: absolute; }
  body[data-page|=class] .o-block.absolute-all {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  body[data-page|=class] .o-block.absolute-y {
    position: absolute;
    top: 0;
    bottom: 0; }
  body[data-page|=class] .o-block.m-0 {
    margin: 0px; }
  body[data-page|=class] .o-block.mt-0 {
    margin-top: 0px; }
  body[data-page|=class] .o-block.mr-0 {
    margin-right: 0px; }
  body[data-page|=class] .o-block.mb-0 {
    margin-bottom: 0px; }
  body[data-page|=class] .o-block.ml-0 {
    margin-left: 0px; }
  body[data-page|=class] .o-block.mx-0 {
    margin-left: 0px;
    margin-right: 0px; }
  body[data-page|=class] .o-block.my-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  body[data-page|=class] .o-block.m-4 {
    margin: 4px; }
  body[data-page|=class] .o-block.mt-4 {
    margin-top: 4px; }
  body[data-page|=class] .o-block.mr-4 {
    margin-right: 4px; }
  body[data-page|=class] .o-block.mb-4 {
    margin-bottom: 4px; }
  body[data-page|=class] .o-block.ml-4 {
    margin-left: 4px; }
  body[data-page|=class] .o-block.mx-4 {
    margin-left: 4px;
    margin-right: 4px; }
  body[data-page|=class] .o-block.my-4 {
    margin-top: 4px;
    margin-bottom: 4px; }
  body[data-page|=class] .o-block.m-8 {
    margin: 8px; }
  body[data-page|=class] .o-block.mt-8 {
    margin-top: 8px; }
  body[data-page|=class] .o-block.mr-8 {
    margin-right: 8px; }
  body[data-page|=class] .o-block.mb-8 {
    margin-bottom: 8px; }
  body[data-page|=class] .o-block.ml-8 {
    margin-left: 8px; }
  body[data-page|=class] .o-block.mx-8 {
    margin-left: 8px;
    margin-right: 8px; }
  body[data-page|=class] .o-block.my-8 {
    margin-top: 8px;
    margin-bottom: 8px; }
  body[data-page|=class] .o-block.m-12 {
    margin: 12px; }
  body[data-page|=class] .o-block.mt-12 {
    margin-top: 12px; }
  body[data-page|=class] .o-block.mr-12 {
    margin-right: 12px; }
  body[data-page|=class] .o-block.mb-12 {
    margin-bottom: 12px; }
  body[data-page|=class] .o-block.ml-12 {
    margin-left: 12px; }
  body[data-page|=class] .o-block.mx-12 {
    margin-left: 12px;
    margin-right: 12px; }
  body[data-page|=class] .o-block.my-12 {
    margin-top: 12px;
    margin-bottom: 12px; }
  body[data-page|=class] .o-block.m-16 {
    margin: 16px; }
  body[data-page|=class] .o-block.mt-16 {
    margin-top: 16px; }
  body[data-page|=class] .o-block.mr-16 {
    margin-right: 16px; }
  body[data-page|=class] .o-block.mb-16 {
    margin-bottom: 16px; }
  body[data-page|=class] .o-block.ml-16 {
    margin-left: 16px; }
  body[data-page|=class] .o-block.mx-16 {
    margin-left: 16px;
    margin-right: 16px; }
  body[data-page|=class] .o-block.my-16 {
    margin-top: 16px;
    margin-bottom: 16px; }
  body[data-page|=class] .o-block.m-20 {
    margin: 20px; }
  body[data-page|=class] .o-block.mt-20 {
    margin-top: 20px; }
  body[data-page|=class] .o-block.mr-20 {
    margin-right: 20px; }
  body[data-page|=class] .o-block.mb-20 {
    margin-bottom: 20px; }
  body[data-page|=class] .o-block.ml-20 {
    margin-left: 20px; }
  body[data-page|=class] .o-block.mx-20 {
    margin-left: 20px;
    margin-right: 20px; }
  body[data-page|=class] .o-block.my-20 {
    margin-top: 20px;
    margin-bottom: 20px; }
  body[data-page|=class] .o-block.m-24 {
    margin: 24px; }
  body[data-page|=class] .o-block.mt-24 {
    margin-top: 24px; }
  body[data-page|=class] .o-block.mr-24 {
    margin-right: 24px; }
  body[data-page|=class] .o-block.mb-24 {
    margin-bottom: 24px; }
  body[data-page|=class] .o-block.ml-24 {
    margin-left: 24px; }
  body[data-page|=class] .o-block.mx-24 {
    margin-left: 24px;
    margin-right: 24px; }
  body[data-page|=class] .o-block.my-24 {
    margin-top: 24px;
    margin-bottom: 24px; }
  body[data-page|=class] .o-block.m-28 {
    margin: 28px; }
  body[data-page|=class] .o-block.mt-28 {
    margin-top: 28px; }
  body[data-page|=class] .o-block.mr-28 {
    margin-right: 28px; }
  body[data-page|=class] .o-block.mb-28 {
    margin-bottom: 28px; }
  body[data-page|=class] .o-block.ml-28 {
    margin-left: 28px; }
  body[data-page|=class] .o-block.mx-28 {
    margin-left: 28px;
    margin-right: 28px; }
  body[data-page|=class] .o-block.my-28 {
    margin-top: 28px;
    margin-bottom: 28px; }
  body[data-page|=class] .o-block.m-32 {
    margin: 32px; }
  body[data-page|=class] .o-block.mt-32 {
    margin-top: 32px; }
  body[data-page|=class] .o-block.mr-32 {
    margin-right: 32px; }
  body[data-page|=class] .o-block.mb-32 {
    margin-bottom: 32px; }
  body[data-page|=class] .o-block.ml-32 {
    margin-left: 32px; }
  body[data-page|=class] .o-block.mx-32 {
    margin-left: 32px;
    margin-right: 32px; }
  body[data-page|=class] .o-block.my-32 {
    margin-top: 32px;
    margin-bottom: 32px; }
  body[data-page|=class] .o-block.m-36 {
    margin: 36px; }
  body[data-page|=class] .o-block.mt-36 {
    margin-top: 36px; }
  body[data-page|=class] .o-block.mr-36 {
    margin-right: 36px; }
  body[data-page|=class] .o-block.mb-36 {
    margin-bottom: 36px; }
  body[data-page|=class] .o-block.ml-36 {
    margin-left: 36px; }
  body[data-page|=class] .o-block.mx-36 {
    margin-left: 36px;
    margin-right: 36px; }
  body[data-page|=class] .o-block.my-36 {
    margin-top: 36px;
    margin-bottom: 36px; }
  body[data-page|=class] .o-block.p-0 {
    padding: 0px; }
  body[data-page|=class] .o-block.pt-0 {
    padding-top: 0px; }
  body[data-page|=class] .o-block.pr-0 {
    padding-right: 0px; }
  body[data-page|=class] .o-block.pb-0 {
    padding-bottom: 0px; }
  body[data-page|=class] .o-block.pl-0 {
    padding-left: 0px; }
  body[data-page|=class] .o-block.px-0 {
    padding-left: 0px;
    padding-right: 0px; }
  body[data-page|=class] .o-block.py-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  body[data-page|=class] .o-block.p-4 {
    padding: 4px; }
  body[data-page|=class] .o-block.pt-4 {
    padding-top: 4px; }
  body[data-page|=class] .o-block.pr-4 {
    padding-right: 4px; }
  body[data-page|=class] .o-block.pb-4 {
    padding-bottom: 4px; }
  body[data-page|=class] .o-block.pl-4 {
    padding-left: 4px; }
  body[data-page|=class] .o-block.px-4 {
    padding-left: 4px;
    padding-right: 4px; }
  body[data-page|=class] .o-block.py-4 {
    padding-top: 4px;
    padding-bottom: 4px; }
  body[data-page|=class] .o-block.p-8 {
    padding: 8px; }
  body[data-page|=class] .o-block.pt-8 {
    padding-top: 8px; }
  body[data-page|=class] .o-block.pr-8 {
    padding-right: 8px; }
  body[data-page|=class] .o-block.pb-8 {
    padding-bottom: 8px; }
  body[data-page|=class] .o-block.pl-8 {
    padding-left: 8px; }
  body[data-page|=class] .o-block.px-8 {
    padding-left: 8px;
    padding-right: 8px; }
  body[data-page|=class] .o-block.py-8 {
    padding-top: 8px;
    padding-bottom: 8px; }
  body[data-page|=class] .o-block.p-12 {
    padding: 12px; }
  body[data-page|=class] .o-block.pt-12 {
    padding-top: 12px; }
  body[data-page|=class] .o-block.pr-12 {
    padding-right: 12px; }
  body[data-page|=class] .o-block.pb-12 {
    padding-bottom: 12px; }
  body[data-page|=class] .o-block.pl-12 {
    padding-left: 12px; }
  body[data-page|=class] .o-block.px-12 {
    padding-left: 12px;
    padding-right: 12px; }
  body[data-page|=class] .o-block.py-12 {
    padding-top: 12px;
    padding-bottom: 12px; }
  body[data-page|=class] .o-block.p-16 {
    padding: 16px; }
  body[data-page|=class] .o-block.pt-16 {
    padding-top: 16px; }
  body[data-page|=class] .o-block.pr-16 {
    padding-right: 16px; }
  body[data-page|=class] .o-block.pb-16 {
    padding-bottom: 16px; }
  body[data-page|=class] .o-block.pl-16 {
    padding-left: 16px; }
  body[data-page|=class] .o-block.px-16 {
    padding-left: 16px;
    padding-right: 16px; }
  body[data-page|=class] .o-block.py-16 {
    padding-top: 16px;
    padding-bottom: 16px; }
  body[data-page|=class] .o-block.p-20 {
    padding: 20px; }
  body[data-page|=class] .o-block.pt-20 {
    padding-top: 20px; }
  body[data-page|=class] .o-block.pr-20 {
    padding-right: 20px; }
  body[data-page|=class] .o-block.pb-20 {
    padding-bottom: 20px; }
  body[data-page|=class] .o-block.pl-20 {
    padding-left: 20px; }
  body[data-page|=class] .o-block.px-20 {
    padding-left: 20px;
    padding-right: 20px; }
  body[data-page|=class] .o-block.py-20 {
    padding-top: 20px;
    padding-bottom: 20px; }
  body[data-page|=class] .o-block.p-24 {
    padding: 24px; }
  body[data-page|=class] .o-block.pt-24 {
    padding-top: 24px; }
  body[data-page|=class] .o-block.pr-24 {
    padding-right: 24px; }
  body[data-page|=class] .o-block.pb-24 {
    padding-bottom: 24px; }
  body[data-page|=class] .o-block.pl-24 {
    padding-left: 24px; }
  body[data-page|=class] .o-block.px-24 {
    padding-left: 24px;
    padding-right: 24px; }
  body[data-page|=class] .o-block.py-24 {
    padding-top: 24px;
    padding-bottom: 24px; }
  body[data-page|=class] .o-block.p-28 {
    padding: 28px; }
  body[data-page|=class] .o-block.pt-28 {
    padding-top: 28px; }
  body[data-page|=class] .o-block.pr-28 {
    padding-right: 28px; }
  body[data-page|=class] .o-block.pb-28 {
    padding-bottom: 28px; }
  body[data-page|=class] .o-block.pl-28 {
    padding-left: 28px; }
  body[data-page|=class] .o-block.px-28 {
    padding-left: 28px;
    padding-right: 28px; }
  body[data-page|=class] .o-block.py-28 {
    padding-top: 28px;
    padding-bottom: 28px; }
  body[data-page|=class] .o-block.p-32 {
    padding: 32px; }
  body[data-page|=class] .o-block.pt-32 {
    padding-top: 32px; }
  body[data-page|=class] .o-block.pr-32 {
    padding-right: 32px; }
  body[data-page|=class] .o-block.pb-32 {
    padding-bottom: 32px; }
  body[data-page|=class] .o-block.pl-32 {
    padding-left: 32px; }
  body[data-page|=class] .o-block.px-32 {
    padding-left: 32px;
    padding-right: 32px; }
  body[data-page|=class] .o-block.py-32 {
    padding-top: 32px;
    padding-bottom: 32px; }
  body[data-page|=class] .o-block.p-36 {
    padding: 36px; }
  body[data-page|=class] .o-block.pt-36 {
    padding-top: 36px; }
  body[data-page|=class] .o-block.pr-36 {
    padding-right: 36px; }
  body[data-page|=class] .o-block.pb-36 {
    padding-bottom: 36px; }
  body[data-page|=class] .o-block.pl-36 {
    padding-left: 36px; }
  body[data-page|=class] .o-block.px-36 {
    padding-left: 36px;
    padding-right: 36px; }
  body[data-page|=class] .o-block.py-36 {
    padding-top: 36px;
    padding-bottom: 36px; }
  body[data-page|=class] .o-block.cursor-pointer {
    cursor: pointer; }
  body[data-page|=class] .o-block.cursor-move {
    cursor: move; }
  body[data-page|=class] .o-block.cursor-wait {
    cursor: wait; }
  body[data-page|=class] .o-block.cursor-not-allowed {
    cursor: not-allowed; }
  body[data-page|=class] .o-block.d-none {
    display: none; }
  body[data-page|=class] .o-block.d-table {
    display: table; }
  body[data-page|=class] .o-block.d-table-cell {
    display: table-cell; }
  body[data-page|=class] .o-block.d-flex {
    display: flex; }

body[data-page|=class] .o-text.text-12 {
  font-size: 12px;
  line-height: 20px; }

body[data-page|=class] .o-text.text-14 {
  font-size: 14px;
  line-height: 20px; }

body[data-page|=class] .o-text.text-16 {
  font-size: 16px;
  line-height: 22px; }

body[data-page|=class] .o-text.text-18 {
  font-size: 18px;
  line-height: 24px; }

body[data-page|=class] .o-text.text-20 {
  font-size: 20px;
  line-height: 26px; }

body[data-page|=class] .o-text h1 {
  font-size: 30px;
  line-height: 38px; }

body[data-page|=class] .o-text h2 {
  font-size: 24px;
  line-height: 32px; }

body[data-page|=class] .o-text h3 {
  font-size: 20px;
  line-height: 24px; }

body[data-page|=class] .o-text h4 {
  font-size: 16px;
  line-height: 22px; }

body[data-page|=class] .o-text h5 {
  font-size: 14px;
  line-height: 20px; }

body[data-page|=class] .o-text h6 {
  font-size: 12px;
  line-height: 20px; }

body[data-page|=class] .o-text.white-space-nowrap {
  white-space: nowrap; }

body[data-page|=class] .o-text.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

body[data-page|=class] .o-text.font-weight-lighter {
  font-weight: lighter; }

body[data-page|=class] .o-text.font-weight-normal {
  font-weight: normal; }

body[data-page|=class] .o-text.font-weight-bold {
  font-weight: bold; }

body[data-page|=class] .o-text.width-100 {
  width: 100%; }

body[data-page|=class] .o-text.color-primary {
  color: #0065FF; }

body[data-page|=class] .o-text.color-white {
  color: #FFFFFF; }

body[data-page|=class] .o-text.color-black {
  color: #212434; }

body[data-page|=class] .o-text.color-success {
  color: #0BB07B; }

body[data-page|=class] .o-text.color-warning {
  color: #FFAD0D; }

body[data-page|=class] .o-text.color-danger {
  color: #F03D3D; }

body[data-page|=class] .o-text.color-lighter {
  color: #F8F9FB; }

body[data-page|=class] .o-text.color-light {
  color: #E1E4E8; }

body[data-page|=class] .o-text.color-medium {
  color: #E8E8E8; }

body[data-page|=class] .o-text.color-dark {
  color: #828282; }

body[data-page|=class] .o-text.color-gray-700 {
  color: #A6AEBC; }

body[data-page|=class] .o-text.color-gray-500 {
  color: #C9CED6; }

body[data-page|=class] .o-text.color-gray-400 {
  color: #E1E4E8; }

body[data-page|=class] .o-text.color-gray-300 {
  color: #F1F2F4; }

body[data-page|=class] .o-text.color-gray-200 {
  color: #F8F9FB; }

body[data-page|=class] .o-text.bg-color-primary {
  background-color: #0065FF; }

body[data-page|=class] .o-text.bg-color-white {
  background-color: #FFFFFF; }

body[data-page|=class] .o-text.bg-color-black {
  background-color: #212434; }

body[data-page|=class] .o-text.bg-color-success {
  background-color: #0BB07B; }

body[data-page|=class] .o-text.bg-color-warning {
  background-color: #FFAD0D; }

body[data-page|=class] .o-text.bg-color-danger {
  background-color: #F03D3D; }

body[data-page|=class] .o-text.bg-color-lighter {
  background-color: #F8F9FB; }

body[data-page|=class] .o-text.bg-color-light {
  background-color: #E1E4E8; }

body[data-page|=class] .o-text.bg-color-medium {
  background-color: #E8E8E8; }

body[data-page|=class] .o-text.bg-color-dark {
  background-color: #828282; }

body[data-page|=class] {
  /*
	* border:
	* border-0 => border-none
	* border-radius开头 => radius
	*/
  /*
* d-flex-column => flex-column
*/
  /*
* .position- => .
*/ }
  body[data-page|=class] .border-outline {
    border: 1px solid #E8E8E8; }
  body[data-page|=class] .border-none {
    border: none; }
  body[data-page|=class] .border-left {
    border-left: 1px solid #E8E8E8; }
  body[data-page|=class] .border-top {
    border-top: 1px solid #E8E8E8; }
  body[data-page|=class] .border-right {
    border-right: 1px solid #E8E8E8; }
  body[data-page|=class] .border-bottom {
    border-bottom: 1px solid #E8E8E8; }
  body[data-page|=class] .border-left-0 {
    border: 1px solid #E8E8E8;
    border-left: none; }
  body[data-page|=class] .border-left-0 {
    border: 1px solid #E8E8E8;
    border-left: none; }
  body[data-page|=class] .border-left-0 {
    border: 1px solid #E8E8E8;
    border-left: none; }
  body[data-page|=class] .border-left-0 {
    border: 1px solid #E8E8E8;
    border-left: none; }
  body[data-page|=class] .radius-2 {
    border-radius: 4px; }
  body[data-page|=class] .radius-4 {
    border-radius: 4px; }
  body[data-page|=class] .radius-50 {
    border-radius: 50%; }
  body[data-page|=class] .radius-top-4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  body[data-page|=class] .radius-left-4 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  body[data-page|=class] .radius-right-4 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  body[data-page|=class] .radius-bottom-4 {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
  body[data-page|=class] .flex-wrap {
    display: flex;
    flex-wrap: wrap; }
  body[data-page|=class] .flex-column {
    display: flex;
    flex-direction: column; }
  body[data-page|=class] .flex-ju-end {
    display: flex;
    justify-content: flex-end; }
  body[data-page|=class] .flex-ju-center {
    display: flex;
    justify-content: center; }
  body[data-page|=class] .flex-ju-between {
    display: flex;
    justify-content: space-between; }
  body[data-page|=class] .flex-al-center {
    display: flex;
    align-items: center; }
  body[data-page|=class] .flex-ju-al-center {
    display: flex;
    align-items: center;
    justify-content: center; }
  body[data-page|=class] .flex-ju-al-between {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  body[data-page|=class] .flex-auto {
    display: flex;
    flex: auto; }
  body[data-page|=class] .clearfix {
    clear: both; }
  body[data-page|=class] .relative {
    position: relative; }
  body[data-page|=class] .fixed {
    position: fixed; }
  body[data-page|=class] .absolute {
    position: absolute; }
  body[data-page|=class] .absolute-all {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  body[data-page|=class] .absolute-y {
    position: absolute;
    top: 0;
    bottom: 0; }
  body[data-page|=class] .m-0 {
    margin: 0px; }
  body[data-page|=class] .mt-0 {
    margin-top: 0px; }
  body[data-page|=class] .mr-0 {
    margin-right: 0px; }
  body[data-page|=class] .mb-0 {
    margin-bottom: 0px; }
  body[data-page|=class] .ml-0 {
    margin-left: 0px; }
  body[data-page|=class] .mx-0 {
    margin-left: 0px;
    margin-right: 0px; }
  body[data-page|=class] .my-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  body[data-page|=class] .m-4 {
    margin: 4px; }
  body[data-page|=class] .mt-4 {
    margin-top: 4px; }
  body[data-page|=class] .mr-4 {
    margin-right: 4px; }
  body[data-page|=class] .mb-4 {
    margin-bottom: 4px; }
  body[data-page|=class] .ml-4 {
    margin-left: 4px; }
  body[data-page|=class] .mx-4 {
    margin-left: 4px;
    margin-right: 4px; }
  body[data-page|=class] .my-4 {
    margin-top: 4px;
    margin-bottom: 4px; }
  body[data-page|=class] .m-8 {
    margin: 8px; }
  body[data-page|=class] .mt-8 {
    margin-top: 8px; }
  body[data-page|=class] .mr-8 {
    margin-right: 8px; }
  body[data-page|=class] .mb-8 {
    margin-bottom: 8px; }
  body[data-page|=class] .ml-8 {
    margin-left: 8px; }
  body[data-page|=class] .mx-8 {
    margin-left: 8px;
    margin-right: 8px; }
  body[data-page|=class] .my-8 {
    margin-top: 8px;
    margin-bottom: 8px; }
  body[data-page|=class] .m-12 {
    margin: 12px; }
  body[data-page|=class] .mt-12 {
    margin-top: 12px; }
  body[data-page|=class] .mr-12 {
    margin-right: 12px; }
  body[data-page|=class] .mb-12 {
    margin-bottom: 12px; }
  body[data-page|=class] .ml-12 {
    margin-left: 12px; }
  body[data-page|=class] .mx-12 {
    margin-left: 12px;
    margin-right: 12px; }
  body[data-page|=class] .my-12 {
    margin-top: 12px;
    margin-bottom: 12px; }
  body[data-page|=class] .m-16 {
    margin: 16px; }
  body[data-page|=class] .mt-16 {
    margin-top: 16px; }
  body[data-page|=class] .mr-16 {
    margin-right: 16px; }
  body[data-page|=class] .mb-16 {
    margin-bottom: 16px; }
  body[data-page|=class] .ml-16 {
    margin-left: 16px; }
  body[data-page|=class] .mx-16 {
    margin-left: 16px;
    margin-right: 16px; }
  body[data-page|=class] .my-16 {
    margin-top: 16px;
    margin-bottom: 16px; }
  body[data-page|=class] .m-20 {
    margin: 20px; }
  body[data-page|=class] .mt-20 {
    margin-top: 20px; }
  body[data-page|=class] .mr-20 {
    margin-right: 20px; }
  body[data-page|=class] .mb-20 {
    margin-bottom: 20px; }
  body[data-page|=class] .ml-20 {
    margin-left: 20px; }
  body[data-page|=class] .mx-20 {
    margin-left: 20px;
    margin-right: 20px; }
  body[data-page|=class] .my-20 {
    margin-top: 20px;
    margin-bottom: 20px; }
  body[data-page|=class] .m-24 {
    margin: 24px; }
  body[data-page|=class] .mt-24 {
    margin-top: 24px; }
  body[data-page|=class] .mr-24 {
    margin-right: 24px; }
  body[data-page|=class] .mb-24 {
    margin-bottom: 24px; }
  body[data-page|=class] .ml-24 {
    margin-left: 24px; }
  body[data-page|=class] .mx-24 {
    margin-left: 24px;
    margin-right: 24px; }
  body[data-page|=class] .my-24 {
    margin-top: 24px;
    margin-bottom: 24px; }
  body[data-page|=class] .m-28 {
    margin: 28px; }
  body[data-page|=class] .mt-28 {
    margin-top: 28px; }
  body[data-page|=class] .mr-28 {
    margin-right: 28px; }
  body[data-page|=class] .mb-28 {
    margin-bottom: 28px; }
  body[data-page|=class] .ml-28 {
    margin-left: 28px; }
  body[data-page|=class] .mx-28 {
    margin-left: 28px;
    margin-right: 28px; }
  body[data-page|=class] .my-28 {
    margin-top: 28px;
    margin-bottom: 28px; }
  body[data-page|=class] .m-32 {
    margin: 32px; }
  body[data-page|=class] .mt-32 {
    margin-top: 32px; }
  body[data-page|=class] .mr-32 {
    margin-right: 32px; }
  body[data-page|=class] .mb-32 {
    margin-bottom: 32px; }
  body[data-page|=class] .ml-32 {
    margin-left: 32px; }
  body[data-page|=class] .mx-32 {
    margin-left: 32px;
    margin-right: 32px; }
  body[data-page|=class] .my-32 {
    margin-top: 32px;
    margin-bottom: 32px; }
  body[data-page|=class] .m-36 {
    margin: 36px; }
  body[data-page|=class] .mt-36 {
    margin-top: 36px; }
  body[data-page|=class] .mr-36 {
    margin-right: 36px; }
  body[data-page|=class] .mb-36 {
    margin-bottom: 36px; }
  body[data-page|=class] .ml-36 {
    margin-left: 36px; }
  body[data-page|=class] .mx-36 {
    margin-left: 36px;
    margin-right: 36px; }
  body[data-page|=class] .my-36 {
    margin-top: 36px;
    margin-bottom: 36px; }
  body[data-page|=class] .p-0 {
    padding: 0px; }
  body[data-page|=class] .pt-0 {
    padding-top: 0px; }
  body[data-page|=class] .pr-0 {
    padding-right: 0px; }
  body[data-page|=class] .pb-0 {
    padding-bottom: 0px; }
  body[data-page|=class] .pl-0 {
    padding-left: 0px; }
  body[data-page|=class] .px-0 {
    padding-left: 0px;
    padding-right: 0px; }
  body[data-page|=class] .py-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  body[data-page|=class] .p-4 {
    padding: 4px; }
  body[data-page|=class] .pt-4 {
    padding-top: 4px; }
  body[data-page|=class] .pr-4 {
    padding-right: 4px; }
  body[data-page|=class] .pb-4 {
    padding-bottom: 4px; }
  body[data-page|=class] .pl-4 {
    padding-left: 4px; }
  body[data-page|=class] .px-4 {
    padding-left: 4px;
    padding-right: 4px; }
  body[data-page|=class] .py-4 {
    padding-top: 4px;
    padding-bottom: 4px; }
  body[data-page|=class] .p-8 {
    padding: 8px; }
  body[data-page|=class] .pt-8 {
    padding-top: 8px; }
  body[data-page|=class] .pr-8 {
    padding-right: 8px; }
  body[data-page|=class] .pb-8 {
    padding-bottom: 8px; }
  body[data-page|=class] .pl-8 {
    padding-left: 8px; }
  body[data-page|=class] .px-8 {
    padding-left: 8px;
    padding-right: 8px; }
  body[data-page|=class] .py-8 {
    padding-top: 8px;
    padding-bottom: 8px; }
  body[data-page|=class] .p-12 {
    padding: 12px; }
  body[data-page|=class] .pt-12 {
    padding-top: 12px; }
  body[data-page|=class] .pr-12 {
    padding-right: 12px; }
  body[data-page|=class] .pb-12 {
    padding-bottom: 12px; }
  body[data-page|=class] .pl-12 {
    padding-left: 12px; }
  body[data-page|=class] .px-12 {
    padding-left: 12px;
    padding-right: 12px; }
  body[data-page|=class] .py-12 {
    padding-top: 12px;
    padding-bottom: 12px; }
  body[data-page|=class] .p-16 {
    padding: 16px; }
  body[data-page|=class] .pt-16 {
    padding-top: 16px; }
  body[data-page|=class] .pr-16 {
    padding-right: 16px; }
  body[data-page|=class] .pb-16 {
    padding-bottom: 16px; }
  body[data-page|=class] .pl-16 {
    padding-left: 16px; }
  body[data-page|=class] .px-16 {
    padding-left: 16px;
    padding-right: 16px; }
  body[data-page|=class] .py-16 {
    padding-top: 16px;
    padding-bottom: 16px; }
  body[data-page|=class] .p-20 {
    padding: 20px; }
  body[data-page|=class] .pt-20 {
    padding-top: 20px; }
  body[data-page|=class] .pr-20 {
    padding-right: 20px; }
  body[data-page|=class] .pb-20 {
    padding-bottom: 20px; }
  body[data-page|=class] .pl-20 {
    padding-left: 20px; }
  body[data-page|=class] .px-20 {
    padding-left: 20px;
    padding-right: 20px; }
  body[data-page|=class] .py-20 {
    padding-top: 20px;
    padding-bottom: 20px; }
  body[data-page|=class] .p-24 {
    padding: 24px; }
  body[data-page|=class] .pt-24 {
    padding-top: 24px; }
  body[data-page|=class] .pr-24 {
    padding-right: 24px; }
  body[data-page|=class] .pb-24 {
    padding-bottom: 24px; }
  body[data-page|=class] .pl-24 {
    padding-left: 24px; }
  body[data-page|=class] .px-24 {
    padding-left: 24px;
    padding-right: 24px; }
  body[data-page|=class] .py-24 {
    padding-top: 24px;
    padding-bottom: 24px; }
  body[data-page|=class] .p-28 {
    padding: 28px; }
  body[data-page|=class] .pt-28 {
    padding-top: 28px; }
  body[data-page|=class] .pr-28 {
    padding-right: 28px; }
  body[data-page|=class] .pb-28 {
    padding-bottom: 28px; }
  body[data-page|=class] .pl-28 {
    padding-left: 28px; }
  body[data-page|=class] .px-28 {
    padding-left: 28px;
    padding-right: 28px; }
  body[data-page|=class] .py-28 {
    padding-top: 28px;
    padding-bottom: 28px; }
  body[data-page|=class] .p-32 {
    padding: 32px; }
  body[data-page|=class] .pt-32 {
    padding-top: 32px; }
  body[data-page|=class] .pr-32 {
    padding-right: 32px; }
  body[data-page|=class] .pb-32 {
    padding-bottom: 32px; }
  body[data-page|=class] .pl-32 {
    padding-left: 32px; }
  body[data-page|=class] .px-32 {
    padding-left: 32px;
    padding-right: 32px; }
  body[data-page|=class] .py-32 {
    padding-top: 32px;
    padding-bottom: 32px; }
  body[data-page|=class] .p-36 {
    padding: 36px; }
  body[data-page|=class] .pt-36 {
    padding-top: 36px; }
  body[data-page|=class] .pr-36 {
    padding-right: 36px; }
  body[data-page|=class] .pb-36 {
    padding-bottom: 36px; }
  body[data-page|=class] .pl-36 {
    padding-left: 36px; }
  body[data-page|=class] .px-36 {
    padding-left: 36px;
    padding-right: 36px; }
  body[data-page|=class] .py-36 {
    padding-top: 36px;
    padding-bottom: 36px; }
  body[data-page|=class] .cursor-pointer {
    cursor: pointer; }
  body[data-page|=class] .cursor-move {
    cursor: move; }
  body[data-page|=class] .cursor-wait {
    cursor: wait; }
  body[data-page|=class] .cursor-not-allowed {
    cursor: not-allowed; }
  body[data-page|=class] .d-none {
    display: none; }
  body[data-page|=class] .d-table {
    display: table; }
  body[data-page|=class] .d-table-cell {
    display: table-cell; }
  body[data-page|=class] .d-flex {
    display: flex; }
  body[data-page|=class] .text-12 {
    font-size: 12px;
    line-height: 20px; }
  body[data-page|=class] .text-14 {
    font-size: 14px;
    line-height: 20px; }
  body[data-page|=class] .text-16 {
    font-size: 16px;
    line-height: 22px; }
  body[data-page|=class] .text-18 {
    font-size: 18px;
    line-height: 24px; }
  body[data-page|=class] .text-20 {
    font-size: 20px;
    line-height: 26px; }
  body[data-page|=class] .h1 {
    font-size: 30px;
    line-height: 38px; }
  body[data-page|=class] .h2 {
    font-size: 24px;
    line-height: 32px; }
  body[data-page|=class] .h3 {
    font-size: 20px;
    line-height: 24px; }
  body[data-page|=class] .h4 {
    font-size: 16px;
    line-height: 22px; }
  body[data-page|=class] .h5 {
    font-size: 14px;
    line-height: 20px; }
  body[data-page|=class] .h6 {
    font-size: 12px;
    line-height: 20px; }
  body[data-page|=class] .white-space-nowrap {
    white-space: nowrap; }
  body[data-page|=class] .text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  body[data-page|=class] .font-weight-lighter {
    font-weight: lighter; }
  body[data-page|=class] .font-weight-normal {
    font-weight: normal; }
  body[data-page|=class] .font-weight-bold {
    font-weight: bold; }
  body[data-page|=class] .width-100 {
    width: 100%; }
  body[data-page|=class] .color-primary {
    color: #0065FF; }
  body[data-page|=class] .color-white {
    color: #FFFFFF; }
  body[data-page|=class] .color-black {
    color: #212434; }
  body[data-page|=class] .color-success {
    color: #0BB07B; }
  body[data-page|=class] .color-warning {
    color: #FFAD0D; }
  body[data-page|=class] .color-danger {
    color: #F03D3D; }
  body[data-page|=class] .color-lighter {
    color: #F8F9FB; }
  body[data-page|=class] .color-light {
    color: #828282; }
  body[data-page|=class] .color-medium {
    color: #E8E8E8; }
  body[data-page|=class] .color-dark {
    color: #E1E4E8; }
  body[data-page|=class] .bg-color-primary {
    background-color: #0065FF; }
  body[data-page|=class] .bg-color-white {
    background-color: #FFFFFF; }
  body[data-page|=class] .bg-color-black {
    background-color: #212434; }
  body[data-page|=class] .bg-color-success {
    background-color: #0BB07B; }
  body[data-page|=class] .bg-color-warning {
    background-color: #FFAD0D; }
  body[data-page|=class] .bg-color-danger {
    background-color: #F03D3D; }
  body[data-page|=class] .bg-color-lighter {
    background-color: #F8F9FB; }
  body[data-page|=class] .bg-color-light {
    background-color: #828282; }
  body[data-page|=class] .bg-color-medium {
    background-color: #E8E8E8; }
  body[data-page|=class] .bg-color-dark {
    background-color: #E1E4E8; }
